.ContainerVantagens{
    margin-top: 70px;
}

.wrapper {
    padding: calc(var(--mantine-spacing-xl) * 2) var(--mantine-spacing-xl);
    margin-top: 60px;
  }
  

  
.item {
    display: flex;
  }
  
  .itemIcon {
    padding: var(--mantine-spacing-xs);
    margin-right: var(--mantine-spacing-md);
  }
  
  .itemTitle {
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  }
  
  .supTitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-blue-light-color);
    letter-spacing: rem(0.5px);
  }
  
  .title {
    font-size: rem(34px);
    font-weight: 900;
  
  }
  .title span{
     color: #144003;
  }
  
  .description {
    text-align: center;
    margin-top: var(--mantine-spacing-xs);
  }
  
  .highlight {
    background-color: var(--mantine-color-blue-light);
    padding: rem(5px);
    padding-top: 0;
    border-radius: var(--mantine-radius-sm);
    display: inline-block;
    color: light-dark(inherit, var(--mantine-color-white));
  }
